.section-bg{
    background-color: lightblue;
    .wrapper{
        @include d-flex(flex, space-between, center);
        .left-block{
            width: 400px;
            height: 400px;
            background-color: $color01;
            @include d-flex(flex, center, center);
            p{
                font-family: $font03;
                @include border(2px, solid, aqua);
                @include transition(all, 5s, linear);
                &:hover{
                    color: lime;
                }
            }
        }
        .right-block{
            width: 400px;
            height: 400px;
            background-color: $color02;
            font-family: $font02;
        }
    }
}